<h1><%= @user.email %></h1>
<h2>Recipes</h2>
<ul>
  <% @user.recipes.each do |recipe| %>
    <li>
      <%= recipe.title %>
      <% if current_user.admin? %>
        <%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>